body {
    background: url("../images/background.png") no-repeat;
    text-align: center;
    font-family: sans-serif Verdana ;
    font-size: 18px;
}

a {
    font-weight: 900;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

a:hover {
    color: darkred;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    text-decoration: none;
}

.log-in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
}

.log-in p {
    margin-top: 20px;
}

.form-group {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 25px;
    border:2px lightslategrey solid;
}

.form-group img {
    margin-bottom: 20px;
}

#submit {
    margin-top: 20px;
    color: white;
    background: url("../images/button.png") center no-repeat;
    font-size: 25px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

#submit:hover {
    background: url('../images/buttonActive.png');
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}
