body {
    background-image:url(imagesAndreyKostyuchenko/background.png);
    font:210% Tahoma;
    color:#e7e7e7;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

.textQuestion {
    font:115% Tahoma;
    color:deepskyblue;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

.textForgot {
    margin-left: 62%;
    font:55% Tahoma;
    color:deepskyblue;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

.button {
    background-image: url(imagesAndreyKostyuchenko/orangeButton.png);
    margin-top: 4%;
    margin-left: 12%;
    width:75%;
    border: solid #000;
    font:130% Tahoma;
    color:whitesmoke;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

/*.imageDeal {
    position:absolute;
    left:;
    bottom:645px;
}*/

.imageBlackLine {
    position:absolute;
    left:50%;
    top:28%;
}

#h1 {
	position:absolute;
	top:36%;
	right:31%;
}

#h2 {
    position:absolute;
	top:25%;
	left:25%;
}