*
{
    margin: 0;
    padding: 0;
}

body
{
    min-width: 100%;
    height: 200vh;
    background-image:url(images/background_main.png);
}

.topBlock
{
    height: 200px;
    background-color: #1ea2cd;
    background-repeat: repeat-x, repeat-y;
}

.logo
{
    position: absolute;
    top: 40px;
    left: 50px;
}

.signup
{
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 90%;
    padding: 5px 10px;
    transition: all .4s;
    color: #fff;
    border: 0;
    border-radius: 10px;
    background: #1ea2cd;
}

button.signup:hover
{
    color: #1ea2cd;
    background: #fff;
}

.signin
{
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 85%;
    padding: 5px 10px;
    transition: all .4s;
    color: #fff;
    border: 0;
    border-radius: 10px;
    background: #1ea2cd;
}

button.signin:hover
{
    color: #1ea2cd;
    background: #fff;
}

.search_text
{
    font-size:28px;
    position:absolute;
    top: 9%;
    left: 35%;
    color: #fff;
}

.search_line
{
    position: absolute;
    top: 10%;
    left: 40%;
}

.grey_background
{
    position: fixed;
    height: 700px;
    margin-top: 2.6%;
    background-image: url('http://ebftour.ru/images/load/Image/ytka5.jpg');
    background-size: cover;
}

.left_arrow
{
    position: absolute;
    top: 55%;
    left: 2%;
    transition: all .4s;
    opacity: .25;
}

a.left_arrow:hover
{
    opacity: 1;
}

.right_arrow
{
    position: absolute;
    top: 55%;
    left: 96%;
    transition: all .4s;
    opacity: .25;
}

a.right_arrow:hover
{
    opacity: 1;
}