body {
    background: url("../images/background.png") no-repeat;
    text-align: center;
    font-family: sans-serif Verdana;
    font-size: 18px;
}

.registration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
}

.form-group {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 25px;
    border: 2px lightslategrey solid;
}

.form-group img {
    margin-bottom: 20px;
}

#submit {
    margin-top: auto;
    color: white;
    background: url("../images/button.png") center no-repeat;
    font-size: 25px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

#sumbit:hover {
    background: url("../images/buttonActive.png");
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}